/* CSS for the DownloadTestr website 

/* 
Note: The CSS Below is not finalized, and most likely will be changed in future updates.
*/


/* Below Code is CSS headers */

h1 {
  color: blue;
  text-align: center;
}
